In [2]:
import numpy as np
import pandas as pd

In [9]:
trace = pd.read_csv("/media/ps101/TEPCON/Hamiltonian-Neural-Network/traces/trace_01", header=None,
                    names=["x0", "y0", "z0", "px", "py"])

In [10]:
trace

             x0         y0                    z0         px         py
0    (15.098333  14.998333  0.000000)(-15.098333 -14.998333  0.000000)
1    (15.195000  14.995010  0.000000)(-15.195000 -14.995010  0.000000)
2    (15.289999  14.990043  0.000000)(-15.289999 -14.990043  0.000000)
3    (15.383331  14.983440  0.000000)(-15.383331 -14.983440  0.000000)
4    (15.474996  14.975213  0.000000)(-15.474996 -14.975213  0.000000)
..          ...        ...                   ...        ...        ...
995  (-6.108264  -3.262130    0.000000)(6.108264   3.262130  0.000000)
996  (-6.448489  -3.198259    0.000000)(6.448489   3.198259  0.000000)
997  (-6.782491  -3.131301    0.000000)(6.782491   3.131301  0.000000)
998  (-7.110416  -3.061539    0.000000)(7.110416   3.061539  0.000000)
999  (-7.432410  -2.989222    0.000000)(7.432410   2.989222  0.000000)

[1000 rows x 5 columns]